{{ define "layout" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }}Ilyas Abduttawab{{ end }}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body hx-ext="sse">
    {{ block "content" . }}{{ end }}
  </body>
</html>
{{ end }}
